<head>
    <meta charset="UTF-8">
    <title>RuneScape Wiki Transcriber</title>
    
    <script type="text/javascript" src="js/libs/uuid-random/uuid-random.min.js"></script>
    <script type="text/javascript" src="js/LinkedListChunks.js"></script>
    
    
    
    <link rel="stylesheet" type="text/css" href="css/runeapps/nis/nis.css" />
    <link rel="stylesheet" type="text/css" href="css/runeapps/runeappslib.css" />
    <script type="text/javascript" src="js/libs/runeapps/runeappslib.js"></script>
    <script type="text/javascript" src="js/libs/runeapps/imagedetect.js"></script>
    <script type="text/javascript" src="js/libs/runeapps/alt1lib.js"></script>
    <script type="text/javascript" src="js/libs/runeapps/imagelibs/ocr.js"></script>
    <script type="text/javascript" src="js/libs/runeapps/imagelibs/dialogfull.js"></script>
    <script type="text/javascript" src="js/libs/runeapps/imagelibs/lorebook.js"></script>
    <script type="text/javascript" src="js/libs/angular.js/angular-1.7.8.js"></script>
    

    
    <script type="text/javascript" src="js/transcriber3.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/editableModelDirective.js"></script>
    <script type="text/javascript" src="js/chunkListDirective.js"></script>
    <script type="text/javascript" src="js/LinkedListChunks.js"></script>
    
    <link rel="stylesheet" type="text/css" href="css/pretty.css" />
    <link rel="stylesheet" type="text/css" href="css/rs3-en.css" />
    
    <link rel="icon" href="favicon2.ico" type="image/x-icon" />
</head>
<body ng-app="rs-wiki-transcriber" ng-controller="transcriber">
    <strong class="warning" id="no-alt1" ng-if="alt1 === undefined">Alt1 does not appear to be running - this app will not work without it.</strong>
    <script type="text/javascript" src="js/debugChunks.js"></script>
    <input type="checkbox" ng-model="showAsCode" />
    
    
    <!-- Menu -->
    <div ng-class="showAsCode ? 'wikicode': 'pretty'">
        <ul class="chunk-list">
            <chunk-list chunk="rootChunk"></chunk-list>
        </ul>
    </div>
    
</body>
<!--
	TODO:
	Add menu
	Directives for merging
	Editable conditions (use contenteditable="true")
	Conditional stuff in general, actually
	Also, maybe editable stuff in general?
-->
