<ul class="chunk-list">
    <li ng-repeat="c in chunk" class="chonk">
        <div ng-if="c.type === 'speech'">
            <span editable-model contenteditable
                  ng-model="c.title"
                  editable-model-filters="formatSpeaker : showAsCode"
                  class="title">
                Speaker
            </span>
            <span class="text"
                  ng-repeat="item in c"
                  editable-model contenteditable
                  ng-model="item.text"
                  editable-model-filters="prependSpace | formatText : showAsCode">
                Text
            </span>
        </div>
        <div ng-if="c.type === 'choice'">
            <span class="question"
                  editable-model contenteditable
                  ng-model="c.title">
                Question
            </span>
            <ul class="options-list">
                <li class="option"
                    ng-repeat="chunk in c">
                    <span class="option-name"
                          editable-model contenteditable
                          ng-model="chunk.text"
                          editable-model-filters="formatOptionName : showAsCode">
                        Option {{$index}}
                    </span>
                    <br>
                    <ng-include src="'chunklist.html'"></ng-include>
                </li>
            </ul>
        </div>
        <div ng-if="c.type === 'branch'">
            <ul>
                <li class="condition"
                    ng-repeat="option in c.options">
                    <span class="branch-condition"
                          editable-model contenteditable
                          ng-model="option.text"
                          editable-model-filters="formatBranchCondition : showAsCode">
                        Condition
                    </span>
                    <ul class="branch-list">
                        <li class="branch-item"
                            ng-repeat="chunk in option">
                            <ng-include src="'chunklist.html'"></ng-include>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div ng-if="c.type === 'message'">
            <span class="text"
                  ng-repeat="item in c"
                  editable-model contenteditable
                  ng-model="item.text"
                  editable-model-filters="prependSpace | formatMessageText : showAsCode">
                Message text
            </span>
        </div>
    </li>
</ul>